/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
h2 {
    color: white;
    font-family: 'Quicksand';
}

h3 {
    color: white;
    font-family: 'Quicksand';
}
svg {
    width: 5%;
    height: 5%;
    padding: 20px 80px;
    background-color: white;
}

html, body {
    height: 100%;
    background: linear-gradient(to top,#f7e4bf, #78a7c6, #134d71);
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    background-color: white;
    font-family: "Quicksand", sans-serif;
}
button {
    background-color: #134d71;
    color: white ;
    font-family: "Quicksand";
    padding: 3px 15px;
    border-radius: 6px;
    
}