/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html, body {
    height: 100%;
    background: linear-gradient(to top,#f7e4bf, #78a7c6, #134d71);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    

}
p {
    font-family: 'Quicksand';
}
div {
    
}

.header {
    color: white;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 34px;
    
}

.sub-header {
    color: white;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 8px;
}
.message-result {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 3%;
    margin: 7.5% 20%;
    border-radius: 8px;
    
   
}
.meditate-logo {
    height: 65px;
    
    
}

.aff-or-man {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 13px;
}
.aff-radio {
    
}
.form {
    background-color: white;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0% 30%;
    border-radius: 8px;
   
   
}
.receive-message-button-box {
    display: flex;
    justify-content: center;  
    padding: 8px;
}
.receive-message-button {
    background-color: #134d71;
    color: white ;
    font-family: "Quicksand";
    padding: 3px 25px;
    border-radius: 4px;
}
.hidden {
    display: none;
}